<mat-select [(ngModel)]="selectedCategory" [name]="name">
  @for (category of categories; track category.value) {
    @if (category.subcategory === null) {
      <mat-option [value]="category.value">{{ category.value }}</mat-option>
    }
  }
  @if (subcategories !== null) {
    @for (subcategory of subcategories; track subcategory) {
      <mat-optgroup [label]="subcategory">
        @for (category of categories; track category.value) {
          @if (category.subcategory === subcategory) {
            <mat-option [value]="category.value">{{
              category.value
            }}</mat-option>
          }
        }
      </mat-optgroup>
    }
  }
</mat-select>
